{% extends "layout.html" %}

{% load static %}

<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Profile</h2>

<!-- Display user information -->
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

<!-- Link to update profile -->
    <p>
        <a href="{% url 'update_profile' %}">Update your profile</a>
    </p>

    <p>
        Check <a href="{% url 'order_history' %}">Order History</a>.
    </p>

</div>
{% endblock %}

<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}