{% extends "layout.html" %}

{% load static %}

<!-- Navbar -->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="container my-5">
    <h1>Staff Portal</h1>
    <p>Welcome to the Staff Portal. Use the links below to manage the pizza store entities.</p>

    <ul class="list-group box">
        <div>
            <a href="{% url 'manage_toppings' %}">Manage Toppings</a>
        </div>
        <br><br>
        <div>
            <a href="{% url 'manage_sauces' %}">Manage Sauces</a>
        </div>
        <div>
            <a href="{% url 'manage_crusts' %}">Manage Crusts</a>
        </div>
        <div>
            <a href="{% url 'manage_sizes' %}">Manage Sizes</a>
        </div>
        <div>
            <a href="{% url 'manage_pizzas' %}">Manage Pizzas</a>
        </div>
    </ul>
</div>



{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}