{% load static %}

{% block footer %}
<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 Something Pizzas | All rights reserved</p>
    <a href="{% static 'files/Tactical Pizzas Privacy Policy.txt' %}" download>Privacy Policy</a> <br>
    <a href="{% static 'files/Tactical Pizzas Terms of Service.txt' %}" download>Terms of Service</a> <br>
    <a href="https://acgedu30684-my.sharepoint.com/:v:/g/personal/t_togkaridis_acg_edu/EWnsMwrU-c9PvKNxZf-Gto0BsCT8SpQo9aIvsrf-U5yCQQ?nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=M9ZTx7">Navigation Video</a>
</footer>

{% endblock %}