{% extends "layout.html" %}

<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to Tactical Pizzas.</h1>
    <h4 class="text-center">Where we work with simple ingredients, to serve better pizzas!</h4>
    </br>
    <p class="justify-text text-center">
        If you are new to our site and you do not know how to navigate it,</br>please take a few minutes to watch our dedicated video:
    </p>
    </br>
    <p class="justify-text text-center">Want to view our products? Then go to:
    <a href={% url 'index' %} class=>Products Page</a>.</p>
    
</div>
{% endblock %}


<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}



<!--Note: the view for this is under products views, and the url is at the mothership templates-->