{% extends "layout.html" %}

<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to Tactical Pizzas.</h1>
    <h4 class="text-center">Where we work with simple ingredients, to serve better pizzas!</h4>
    </br>
        <div class="row">
        <h2 class="text-center w-100">Latest Additions</h2>  <!-- Added text-center and w-100 to center the title -->

        {% for pizza in latest_pizzas %}
        <div class="col-lg-4 col-md-6 mb-4">  <!-- Corrected grid system here -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.name }}</h5>
                    {% if pizza.image %}
                        <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="pizza-image">
                    {% else %}
                        <img alt="No image available" class="pizza-image">
                    {% endif %}
                    <p><strong>Description: </strong>{{ pizza.description|truncatewords:20 }}</p>  <!-- Limit description to 20 words -->
                    <p><strong>Price: ${{ pizza.price }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    </br>
    <p class="justify-text text-center">Want to view the entirety of the menu? Then go to:
    <a href={% url 'index' %} class=>Pizzas</a>.</p>
    
</div>
{% endblock %}


<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}

<!--Modals-->
{% block modals %}
    {% include "modals.html" %}
{% endblock %}

<!--Note: the view for this is under products views, and the url is at the mothership templates-->