
{% load static %}


<div class="container my-5">
    <h1>{{ pizza.name }}</h1>
    <p>
        <strong>Size:</strong> {{ pizza.size.name }}<br />
        <strong>Crust:</strong> {{ pizza.crust_type.type }}<br />
        <strong>Price:</strong> ${{ pizza.price }}
    </p>
    <h3 class="mt-4">Toppings:</h3>
    <ul>
        {% for topping in pizza.toppings.all %}
        <li>{{ topping.name }} (Extra: ${{ topping.extra_price }})</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}" class="btn btn mt-4">Back to Pizza List</a>
</div>
